{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    "@babel/plugin-syntax-import-meta",
    "./babel-plugin-import-meta-env.cjs"
  ]
}
